<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <style>
    body {
      display: grid;
      place-content: center;
    }
    .form {
      margin-top: 200px;
    }
    input {
      height: 35px;
      margin-bottom: 5px;
    }
    button {
      background-color: rgb(159, 159, 249);
      padding: 10px 60px;
    }
    button:hover {
      background-color: aliceblue;
    }
  </style>
  <body>
    <form
      class="form"
      action="/Generate"
      enctype="multipart/form-data"
      method="post"
    >
      <input type="text" name="song" placeholder="Song Name" /><br />
      <input type="text" name="artist" placeholder="Artist Name" /><br />
      <input type="file" id="img" name="img" accept="image/*" required /><br />

      <!-- <input type="file" id="img2" name="img2" accept="image/*" required /><br /> -->
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
