<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <title>Spotify</title>
  </head>
  <style>
    @font-face {
      font-family: myFirstFont;
      src: url("GothamMedium.ttf");
    }
    body {
      font-family: myFirstFont;
    }
  </style>
  <body onload="hello()"  id="p2">
    <div id="mycanvas" class="box">
      <img src="images/<%=pass%>.jpg" alt="" />
      <div id="text" style="margin-left: 10px">
        <b><h3 style="margin-bottom: 0"><%=song%></h3></b>
        <p class="artist" style="font-family: myFirstFont"><%=artist%></p>
      </div>
      <img class="logo" id="myImg" src="images/logo.png" alt="" />
    </div>
    <button >Download</button>
    <label for="check">Black:</label>
    <input type="checkbox" id="check" onclick="myFunction()" name="txt-black">
    <p id="myBtn"><%=colors%></p>
    <script type="text/javascript">
      function hello() {
        let text = document.getElementById("myBtn").innerText;
        document.body.style.backgroundColor = text;
      }
      function myFunction() {
        var checkBox = document.getElementById("check");
        var text = document.getElementById("text");
      if (checkBox.checked == true){
        text.style.color = "black";
        document.getElementById("myImg").src = "images/logo2.png";
      } else{
        text.style.color = "white";
        document.getElementById("myImg").src = "images/logo.png";
      }
}
    </script>
  </body>
</html>
